[Unit]
Description=Webhooks Logger Service
After=syslog.target network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/webhook-logger

ExecStart=/bin/sh webhooks-logger
ExecStop=/bin/kill -SIGTERM $MAINPID

[Install]
WantedBy=multi-user.target
